extends ./layouts/layout.pug
block append head
    title Pug 2
block content
    .page
        block header
            include ./includes/header.pug
        //- block main-content
        block main-content
            include ./includes/content.pug
        block footer
            include ./includes/footer.pug
        