doctype html
html
    block head
        include ../includes/head.pug
    body
        block content
            block header
                block logo
                block nav
            block main-content
                block product
                block connect
                block start
            block footer
                p footer