// Head
head
    //- block title
    //-     title Fylo New
    title Fylo New
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../sass/styles/bootstrap.css")
    link(rel="stylesheet" href="../sass/styles/style.css")